@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 5px;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb:vertical {
  background-color: #cc4d4d;
}

*::-moz-selection {
  background: #cc4d4d;
  opacity: 1;
  color: #222222;
}

*::selection {
  background: #cc4d4d;
  opacity: 1;
  color: #222222;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

a,
p,
span,
li {
  font-size: 12px;
}

.title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
  position: relative;
}

.title:after {
  content: "";
  position: absolute;
  height: 6px;
  width: 100%;
  bottom: -6px;
  left: 0;
  background: #cc4d4d;
  border-right: solid 2px #ffffff;
}

.divider {
  height: 6px;
  width: 100%;
  background: #e09494;
  margin-bottom: 30px;
}

body {
  background: #ffffff;
  width: 100%;
  height: 100%;
  padding-top: 85px;
  overflow-x: hidden;
  position: relative;
}

body #guide {
  width: 100%;
  position: absolute;
  z-index: -1;
  -webkit-filter: grayscale(1) opacity(30%);
          filter: grayscale(1) opacity(30%);
}

body section,
body header {
  padding: 0 13.1%;
  width: 100%;
}

body #header {
  height: 85px;
  border-top: solid 5px #773838;
  background: #222222;
  position: fixed;
  top: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #header .logo {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

body #header .navegation {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body #header .navegation li {
  height: calc(100% + 10px);
  border: solid 1px #222222;
  border-top: solid 10px #773838;
  margin-top: 0px;
  position: relative;
  z-index: 9999;
}

body #header .navegation li a {
  width: 100%;
  height: 100%;
  padding: 0 20px 0 20px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  color: #bbbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #header .navegation li:hover, body #header .navegation li.active {
  border-top: solid 10px #cc4d4d;
}

body #header .navegation li:hover a, body #header .navegation li.active a {
  color: #cc4d4d;
}

body #header .navegation li:first-child {
  border-left: 2px solid #222222;
}

body #header .navegation li:last-child {
  border-right: 2px solid #222222;
  border-top: solid 10px #32ba6d;
  border-bottom: none;
  background: #32ba6d;
}

body #header .navegation li:last-child a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #header .navegation li:last-child a i {
  color: #cc4d4d;
  font-size: 28px;
  margin-bottom: 5px;
}

body #header .navegation li:last-child a span {
  color: #ffffff;
  font-weight: 700;
}

body #slider {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  position: relative;
}

body #slider #slides {
  width: 100vw;
  height: 100%;
}

body #slider #slides .slide {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #slider #slides .slide .mainTitle {
  min-width: 600px;
  width: 45%;
  font-size: 38px;
  color: #ffffff;
  background: #0000007c;
  padding: 2px 20px;
  font-weight: 500;
  margin-bottom: 15px;
  border-radius: 5px;
}

body #slider #slides .slide .content {
  min-width: 600px;
  width: 45%;
  color: #ffffff;
  background: #0000007c;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 1.8em;
  margin-bottom: 15px;
  border-radius: 5px;
}

body #slider #slides .slide a {
  padding: 8px 25px;
  color: #ffffff;
  background: #222222;
  border-radius: 5px;
  font-weight: 600;
}

body #slider #slides .slide a:hover {
  background: #cc4d4d;
}

body #slider #slides .slide img {
  width: 100vw;
  position: absolute;
  left: 0px;
  top: -30px;
  z-index: -1;
}

body #causes {
  width: 100vw;
  position: relative;
  background: #f0eff4;
  position: relative;
}

body #causes::before {
  content: "";
  width: 100vw;
  border-top: 1.5px solid #bbbbbb;
  border-bottom: 1.5px solid #ffffff;
  position: absolute;
  top: 210px;
  left: 0;
  z-index: 9;
}

body #causes #mainCauses {
  width: 100%;
  height: 100%;
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #causes #mainCauses .mainCause {
  width: calc(33% - 20px);
  padding-bottom: 80px;
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #causes #mainCauses .mainCause .crop {
  width: 190px;
  height: 190px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #causes #mainCauses .mainCause .crop img {
  height: 100%;
}

body #causes #mainCauses .mainCause .name {
  font-weight: 500;
  margin-bottom: 15px;
}

body #causes #mainCauses .mainCause .description {
  width: 90%;
  text-align: center;
}

body #causes #mainCauses .mainCause .more {
  height: 50px;
  width: 50px;
  background: #f0eff4;
  border: solid 4px #ffffff;
  position: absolute;
  bottom: -25px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #causes #mainCauses .mainCause .more i {
  color: #ffffff;
  font-size: 15px;
}

body #causes #mainCauses .mainCause .more:hover {
  background: #cc4d4d;
}

body #gallery {
  padding-top: 80px;
}

body #gallery .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #gallery .images .image {
  width: calc(33% - 15px);
  height: 200px;
  overflow: hidden;
  position: relative;
}

body #gallery .images .image img {
  width: 100%;
}

body #gallery .images .image .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  background: #cc4d4d;
  top: 0;
  opacity: 0.0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #gallery .images .image .overlay i {
  font-size: 26px;
  color: #ffffff;
}

body #gallery .images .image:hover .overlay {
  opacity: 0.7;
  cursor: pointer;
}

body #eventsAndNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: -50px;
  padding-top: 100px;
}

body #eventsAndNews section {
  padding: 0;
}

body #events {
  width: calc(66.6% - 15px);
}

body #events #eventList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #events #eventList .event {
  width: calc(50% - 10px);
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #events #eventList .event.big {
  width: 100%;
}

body #events #eventList .event.big .image {
  height: 220px;
}

body #events #eventList .event .image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body #events #eventList .event .date {
  width: 60px;
  height: 60px;
  background: #f0eff4;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #events #eventList .event .date header {
  height: 11px;
  width: 100%;
  margin-bottom: 7px;
  background: #cc4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #events #eventList .event .date header .line {
  width: 15px;
  height: 1px;
  background: #f0eff4;
}

body #events #eventList .event .date p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  font-weight: 700;
}

body #events #eventList .event .date .day {
  color: #268282;
}

body #events #eventList .event .info {
  width: calc(100% - 70px);
}

body #events #eventList .event .info .name {
  font-size: 13px;
  font-weight: 600;
  color: #222222;
  padding: 0;
  margin-bottom: 8px;
}

body #news {
  width: calc(33.6% - 15px);
}

body #news #newsList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #news #newsList .new {
  width: 100%;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #news #newsList .new.big .image {
  width: 100%;
  height: 140px;
}

body #news #newsList .new.big .info {
  width: 100%;
}

body #news #newsList .new .image {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #news #newsList .new .image img {
  width: 170%;
}

body #news #newsList .new .info {
  width: calc(100% - 100px);
}

body #news #newsList .new .name {
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  color: #222222;
  padding: 0;
  margin-bottom: 8px;
}

body #news #newsList .new .date {
  width: 100%;
  margin-bottom: 12px;
}

body #news #newsList .new .date span {
  font-size: 11px;
}

body #sponsers {
  width: 100%;
  margin-bottom: 60px;
}

body #sponsers .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #sponsers .wrapper i {
  color: #cc4d4d;
  font-size: 22px;
  width: 60px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #sponsers .wrapper .sponsersList {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #sponsers .wrapper .sponsersList article {
  background: #bbbbbb;
  height: 65px;
  width: 140px;
  border-radius: 5px;
}

body #contact {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #contact .contactTitle {
  height: 115px;
  background: #cc4d4d;
  width: 100%;
  padding: 0 13.1%;
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  border-bottom: solid 5px #e09494;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #contact .contactTitle:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 150px;
  bottom: -5px;
  left: 13.1%;
  background: #666666;
  border-left: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  opacity: .5;
}

body #contact .map {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

body #contact .map img {
  width: 100%;
}

body #contact .title-alt {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
  position: relative;
}

body #contact .content {
  width: 100%;
  padding: 60px 13.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #contact .content form {
  width: calc(75% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #contact .content form label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

body #contact .content form label b {
  font-size: 11px;
  font-weight: 300;
}

body #contact .content form .wrapper {
  width: 100%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #contact .content form .wrapper div {
  width: calc(33.33% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #contact .content form .wrapper div input {
  background: #f0eff4;
  border: solid 1px #dfdee2;
  padding: 5px 10px;
  width: 100%;
}

body #contact .content form textarea {
  width: 100%;
  height: 220px;
  background: #f0eff4;
  border: solid 1px #dfdee2;
  margin-bottom: 15px;
}

body #contact .content form button {
  padding: 8px 20px;
  background: #cc4d4d;
  border-bottom: solid 4px #773838;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

body #contact .content .info {
  width: calc(25% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #footer {
  width: 100%;
  padding: 70px 13.1%;
  border-top: solid 5px #cc4d4d;
  background: #222222;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #footer * {
  color: #f0eff4;
}

body #footer section {
  padding: 0;
  width: calc(25% - 15px);
}

body #footer .title {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 30px;
}

body #footer .title:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background: #cc4d4d;
  border-right: solid 0px #ffffff;
}

body #footer .about .content {
  margin-bottom: 20px;
}

body #footer .about .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body #footer .about .socials .social {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #cc4d4d;
  margin-right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #footer .about .socials .social i {
  color: #222222;
  font-size: 15px;
}

body #footer .latestNews .new {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body #footer .latestNews .new article {
  height: 60px;
  width: 180px;
  background: #bbbbbb;
  margin-right: 10px;
}

body #footer .flickr .imageList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #footer .flickr .imageList article {
  width: calc(33.33% - 7px);
  height: 65px;
  margin-bottom: 10px;
  background: #bbbbbb;
}

body #footer .twitter .tweet {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body #footer .twitter .tweet i {
  font-size: 22px;
  color: #cc4d4d;
  margin-right: 10px;
}

body #footer .twitter .tweet p b {
  color: #cc4d4d;
  text-transform: uppercase;
}

body #footer .twitter .tweet p .time {
  color: #bbbbbb;
  font-size: 11px;
}

body #footer footer {
  width: 100%;
  height: 40px;
  padding: 0 13.1%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #333333;
  border-top: solid 1px #bbbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */