@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

$darkRed: #773838;
$red: #cc4d4d;
$pink: #e09494;
$green: #32ba6d;
$black: #222222;
$darkGray: #333333;
$gray: #666666;
$lightGray: #bbbbbb;
$light: #f0eff4;
$white: #ffffff;
$shadow: #0000007c;

* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    color: $gray;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar-track {
        background-color: none;
        border-radius: 5px;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb:vertical {
        background-color: $red;
    }

    &::selection {
        background: $red;
        opacity: 1;
        color: $black;
    }
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

a,
p,
span,
li {
    font-size: 12px;
}

.title {
    width: fit-content;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        height: 6px;
        width: 100%;
        bottom: -6px;
        left: 0;
        background: $red;
        border-right: solid 2px $white;
    }
}

.divider {
    height: 6px;
    width: 100%;
    background: $pink;
    margin-bottom: 30px;
}

body {
    background: $white;
    width: 100%;
    height: 100%;
    padding-top: 85px;
    ;
    overflow-x: hidden;
    position: relative;

    #guide {
        width: 100%;
        position: absolute;
        z-index: -1;
        filter: grayscale(1) opacity(30%);
    }

    section,
    header {
        padding: 0 13.1%;
        width: 100%;
    }

    #header {
        height: 85px;
        border-top: solid 5px $darkRed;
        background: $black;
        position: fixed;
        top: 0;
        z-index: 999;

        //Flex
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            color: $white;
            font-size: 28px;
            font-weight: 700;
            flex: 0 1 auto;
        }

        .navegation {
            height: 100%;
            flex: 1 1 auto;
            margin-top: -10px;

            //Flex
            display: flex;
            align-items: center;
            justify-content: flex-end;

            li {
                height: calc(100% + 10px);
                border: solid 1px $black;
                border-top: solid 10px $darkRed;
                margin-top: 0px;
                position: relative;
                z-index: 9999;

                a {
                    width: 100%;
                    height: 100%;
                    padding: 0 20px 0 20px;
                    text-transform: uppercase;
                    font-size: 11px;
                    font-weight: 600;
                    color: $lightGray;

                    //Flex
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover,
                &.active {
                    border-top: solid 10px $red;

                    a {
                        color: $red;
                    }
                }

                &:first-child {
                    border-left: 2px solid $black;
                }

                &:last-child {
                    border-right: 2px solid $black;
                    border-top: solid 10px $green;
                    border-bottom: none;
                    background: $green;

                    a {
                        flex-direction: column;

                        i {
                            color: $red;
                            font-size: 28px;
                            margin-bottom: 5px;
                        }

                        span {
                            color: $white;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    #slider {
        width: 100vw;
        height: 70vh;
        overflow: hidden;
        position: relative;

        #slides {
            width: 100vw;
            height: 100%;

            .slide {
                width: 100vw;
                height: 100%;

                //Flex
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .mainTitle {
                    min-width: 600px;
                    width: 45%;
                    font-size: 38px;
                    color: $white;
                    background: $shadow;
                    padding: 2px 20px;
                    font-weight: 500;
                    margin-bottom: 15px;
                    border-radius: 5px;
                }

                .content {
                    min-width: 600px;
                    width: 45%;
                    color: $white;
                    background: $shadow;
                    padding: 8px 20px;
                    font-size: 14px;
                    line-height: 1.8em;
                    margin-bottom: 15px;
                    border-radius: 5px;
                }

                a {
                    padding: 8px 25px;
                    color: $white;
                    background: $black;
                    border-radius: 5px;
                    font-weight: 600;

                    &:hover {
                        background: $red;
                    }
                }

                img {
                    width: 100vw;
                    position: absolute;
                    left: 0px;
                    top: -30px;
                    z-index: -1;
                }
            }
        }
    }

    #causes {
        width: 100vw;
        position: relative;
        background: $light;
        position: relative;

        &::before {
            content: "";
            width: 100vw;
            border-top: 1.5px solid $lightGray;
            border-bottom: 1.5px solid $white;
            position: absolute;
            top: 210px;
            left: 0;
            z-index: 9;
        }

        #mainCauses {
            width: 100%;
            height: 100%;
            padding-top: 120px;

            //Flex
            display: flex;
            align-items: center;
            justify-content: space-between;

            .mainCause {
                width: calc(33% - 20px);
                padding-bottom: 80px;
                position: relative;
                z-index: 99;

                //Flex
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .crop {
                    width: 190px;
                    height: 190px;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-bottom: 15px;

                    //Flex
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 100%;
                    }
                }

                .name {
                    font-weight: 500;
                    margin-bottom: 15px;
                }

                .description {
                    width: 90%;
                    text-align: center;
                }

                .more {
                    height: 50px;
                    width: 50px;
                    background: $light;
                    border: solid 4px $white;
                    position: absolute;
                    bottom: -25px;
                    border-radius: 50px;

                    //Flex
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: $white;
                        font-size: 15px;
                    }

                    &:hover {
                        background: $red;
                    }
                }
            }
        }
    }

    #gallery {
        padding-top: 80px;

        .images {

            //Flex
            display: flex;
            align-items: center;
            justify-content: space-between;

            .image {
                width: calc(33% - 15px);
                height: 200px;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                }

                .overlay {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 9;
                    background: $red;
                    top: 0;
                    opacity: 0.0;

                    //Flex
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 26px;
                        color: $white;
                    }
                }

                &:hover {
                    .overlay {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    #eventsAndNews {
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: space-between;
        width: 100%;
        margin-top: -50px;
        padding-top: 100px;

        section {
            padding: 0;
        }
    }

    #events {
        width: calc(66.6% - 15px);

        #eventList {
            width: 100%;

            //Flex
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;

            .event {
                width: calc(50% - 10px);
                margin-bottom: 35px;

                //Flex
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-between;

                &.big {
                    width: 100%;

                    .image {
                        height: 220px;
                    }
                }

                .image {
                    width: 100%;
                    height: 180px;
                    overflow: hidden;
                    margin-bottom: 10px;

                    //Flex
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                }

                .date {
                    width: 60px;
                    height: 60px;
                    background: $light;
                    padding-bottom: 5px;

                    //Flex
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    header {
                        height: 11px;
                        width: 100%;
                        margin-bottom: 7px;
                        background: $red;

                        //Flex
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;

                        .line {
                            width: 15px;
                            height: 1px;
                            background: $light;
                        }
                    }

                    p {
                        flex: 1 1;
                        font-weight: 700;
                    }

                    .day {
                        color: #268282;
                    }
                }

                .info {
                    width: calc(100% - 70px);

                    .name {
                        font-size: 13px;
                        font-weight: 600;
                        color: $black;
                        padding: 0;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }

    #news {
        width: calc(33.6% - 15px);

        #newsList {
            width: 100%;

            //Flex
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .new {
                width: 100%;
                margin-bottom: 35px;

                //Flex
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-between;

                &.big {
                    .image {
                        width: 100%;
                        height: 140px;
                    }

                    .info {
                        width: 100%;
                        ;
                    }
                }

                .image {
                    width: 80px;
                    height: 80px;
                    overflow: hidden;
                    margin-bottom: 10px;

                    //Flex
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 170%;
                    }
                }

                .info {
                    width: calc(100% - 100px);
                }

                .name {
                    width: 100%;
                    font-size: 13px;
                    font-weight: 600;
                    color: $black;
                    padding: 0;
                    margin-bottom: 8px;
                }

                .date {
                    width: 100%;
                    margin-bottom: 12px;

                    span {
                        font-size: 11px;
                    }
                }
            }
        }
    }

    #sponsers {
        width: 100%;
        margin-bottom: 60px;

        .wrapper {
            width: 100%;

            //Flex
            display: flex;
            align-items: center;
            justify-content: space-between;

            i {
                color: $red;
                font-size: 22px;
                width: 60px;
                cursor: pointer;

                //Flex
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .sponsersList {
                flex: 1 1 auto;
                padding: 0 40px;
                //Flex
                display: flex;
                align-items: center;
                justify-content: space-between;

                article {
                    background: $lightGray;
                    height: 65px;
                    width: 140px;
                    border-radius: 5px;
                }
            }
        }
    }

    #footer {
        width: 100%;
        padding: 70px 13.1%;
        border-top: solid 5px $red;
        background: $black;
        position: relative;

        //Flex
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        * {
            color: $light;
        }

        section {
            padding: 0;
            width: calc(25% - 15px);
        }

        .title {
            color: $white;
            font-size: 16px;
            margin-bottom: 30px;


            &:after {
                content: "";
                position: absolute;
                height: 4px;
                width: 100%;
                bottom: -2px;
                left: 0;
                background: $red;
                border-right: solid 0px $white;
            }
        }

        .about {
            .content {
                margin-bottom: 20px;
            }

            .socials {
                //Flex
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                .social {
                    width: 25px;
                    height: 25px;
                    border-radius: 25px;
                    background: $red;
                    margin-right: 6px;

                    //Flex
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: $black;
                        font-size: 15px;
                    }
                }
            }
        }

        .latestNews {
            .new {
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: solid 1px $darkGray;
                //Flex
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                article {
                    height: 60px;
                    width: 180px;
                    background: $lightGray;
                    margin-right: 10px;
                }
            }
        }

        .flickr {
            .imageList {

                //Flex
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-between;

                article {
                    width: calc(33.33% - 7px);
                    height: 65px;
                    margin-bottom: 10px;
                    background: $lightGray;
                }
            }
        }

        .twitter {
            .tweet {
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: solid 1px $darkGray;
                //Flex
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                i {
                    font-size: 22px;
                    color: $red;
                    margin-right: 10px;
                }

                p {
                    b {
                        color: $red;
                        text-transform: uppercase;
                    }

                    .time {
                        color: $lightGray;
                        font-size: 11px;
                    }
                }
            }
        }

        footer {
            width: 100%;
            height: 40px;
            padding: 0 13.1%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $darkGray;
            border-top: solid 1px $lightGray;

            //Flex
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }
}